# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# -------------------------
# Virtual Environment
# -------------------------
venv/
.env/
.venv/

# -------------------------
# IDE / OS
# -------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# -------------------------
# FastAPI / Uvicorn
# -------------------------
*.pid

# -------------------------
# Secrets / Keys
# -------------------------
*.key
*.pem
